<!DOCTYPE html>
<html>
<head>
  <title>Postal Rate Information</title>
</head>
<body>
  <% if (error) { %>
  <p>An error has occurred</p>
  <% } else { %>
  <p>This will be implemented</p>
  <% } %>
</body>
</html>