<!-- views/pages/week09/math.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Math Results</title>
</head>
<body>
	<h1>RESULTS</h1>
	<p><%= num1 %> <%= symbol %> <%= num2 %> = <%= result %></p>
</body>
</html>